.flexbox {
  display: flex;
  height: 100vh;
}

.sidebarmenu {
  flex: 0 0 auto;
  width: 500px;
}

.main {
  flex: 1 1 auto;
  overflow: auto;
  height: 100vh;
  /* margin-left: 3em;
  margin-right: 3em; */
}
